{% extends "base.html" %}
{% block title %}Add game{% endblock %}
{% block content %}

<form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="title">
    </div>
    <div class="mb-3">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <select class="form-select" aria-label="Default select example">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Puzzle</a></li>
                <li><a class="dropdown-item" href="#">Platformer</a></li>
                <li><a class="dropdown-item" href="#">Sandbox</a></li>
                <li><a class="dropdown-item" href="#">Horror</a></li>
                <li><a class="dropdown-item" href="#">FPS</a></li>
                <li><a class="dropdown-item" href="#">3PS</a></li>
                <li><a class="dropdown-item" href="#">Racing</a></li>
                <li><a class="dropdown-item" href="#">Multiplayer</a></li>
                <li><a class="dropdown-item" href="#">RPG</a></li>
                <li><a class="dropdown-item" href="#">MMO RPG</a></li>
                <li><a class="dropdown-item" href="#">RTS</a></li>
                <li><a class="dropdown-item" href="#">Mobile</a></li>
                
              </select>
          </li>
          <li class="nav-item">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Publisher</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="genre">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="rating">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Year</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="year">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="description">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image URL</label>
        <input value="https://media.istockphoto.com/id/1409329028/vector/no-picture-available-placeholder-thumbnail-icon-illustration-design.jpg?s=612x612&w=0&k=20&c=_zOuJu755g2eEUioiOUdz_mHKJQJn-tDgIAhQzyeKUQ=" type="text" class="form-control" id="exampleInputEmail1" name="image_url">
    </div>
    <button type="submit" class="btn btn-primary">Add game</button>
</form>



{% endblock %}