{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}

<form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input value="{{game.title}}" type="text" class="form-control" id="exampleInputEmail1" name="title">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Genre</label>
        <input value="{{game.publisher}}" type="text" class="form-control" id="exampleInputEmail1" name="publisher">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Publisher</label>
        <input value="{{game.genre}}" type="text" class="form-control" id="exampleInputEmail1" name="genre">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input value="{{game.rating}}" type="text" class="form-control" id="exampleInputEmail1" name="rating">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Year</label>
        <input value="{{game.year}}" type="text" class="form-control" id="exampleInputEmail1" name="year">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input value="{{game.description}}" type="text" class="form-control" id="exampleInputEmail1" name="description">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image URL</label>
        <input value="{{game.image_url}}" type="text" class="form-control" id="exampleInputEmail1" name="image_url">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

{% endblock %}