{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}

<form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input value="{{game.title}}" type="text" class="form-control" id="exampleInputEmail1" name="title">
    </div>
    <div class="mb-3">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genre
          </a>
          <select class="form-select" aria-label="Default select example">
              <option class="dropdown-item" href="#">Action</option>>
              <option class="dropdown-item" href="#">Puzzle</option>
              <option class="dropdown-item" href="#">Platformer</option>
              <option class="dropdown-item" href="#">Sandbox</option>
              <option class="dropdown-item" href="#">Horror</option>
              <option class="dropdown-item" href="#">FPS</option>
              <option class="dropdown-item" href="#">3PS</option>
              <option class="dropdown-item" href="#">Racing</option>
              <option class="dropdown-item" href="#">Multiplayer</option>
              <option class="dropdown-item" href="#">RPG</option>
              <option class="dropdown-item" href="#">MMO RPG</option>
              <option class="dropdown-item" href="#">RTS</option>
              <option class="dropdown-item" href="#">Mobile</option>
              
            </select>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Publisher</label>
        <input value="{{game.genre}}" type="text" class="form-control" id="exampleInputEmail1" name="genre">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Rating</label>
        <input value="{{game.rating}}" type="text" class="form-control" id="exampleInputEmail1" name="rating">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Year</label>
        <input value="{{game.year}}" type="text" class="form-control" id="exampleInputEmail1" name="year">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Description</label>
        <input value="{{game.description}}" type="text" class="form-control" id="exampleInputEmail1" name="description">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Image URL</label>
        <input value="{{game.image_url}}" type="text" class="form-control" id="exampleInputEmail1" name="image_url">
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
</form>

{% endblock %}