{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>Welcome to the database</h1>

    <div class="container-fluid">
        <div class="row">
            {% for game in games %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="{{game.image_url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{game.title}}</h5>
                        <p class="card-text">{{game.description}}</p>
                        <p class="card-text">Publisher: {{game.publisher}}</p>
                        <p class="card-text">Genre: {{game.genre}}</p>
                        <p class="card-text">Release: {{game.year}}</p>
                        <p class="card-text">Rating: {{game.rating}}</p>

                        <!----------------- Edit button ------------------------->
                        <a href="{{url_for('update_item',id=game.id)}}"><button type="button" class="btn btn-primary">
                            Edit
                        </button></a>
                        
                        <!---------------------- Delete button -------------------------->
                        <a href="{{url_for('delete_item',id=game.id)}}"><button type="button" class="btn btn-primary">
                            Delete
                        </button></a>
                        
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}