{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <h1>Welcome to the database</h1>

    <div class="container-fluid">
        <div class="row">
            {% for i in range(1,13) %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Game</h5>
                        <p class="card-text">Text</p>
                        <!----------------- Edit modal ------------------------->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#EditModal">
                            Edit
                        </button>
                        
                        <div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                ...
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <!---------------------- Delete modal -------------------------->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteModal">
                            Delete
                        </button>
                        
                        <div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Delete</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}